.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 30px;
  overflow: auto;
}

.btn-secondary, .btn-primary {
  display: inline-block;
  border-radius: 8px;
  margin: 4px;
  padding: 0.5rem 1.1rem;
}
.btn-secondary:hover, .btn-primary:hover {
  transform: scale(0.95);
}

.btn-primary {
  background-color: #c5a6ed;
  color: #333;
}

.btn-secondary {
  background-color: hsl(24deg, 90%, 62%);
  color: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(0deg, 0%, 93%);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.6;
}

.showcase {
  background-color: hsl(266deg, 67%, 69%);
  color: #fff;
  height: 600px;
}
.showcase nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.showcase nav ul {
  display: flex;
  list-style-type: none;
}
.showcase nav li {
  padding: 1rem;
}
.showcase nav a:hover {
  color: hsl(24deg, 90%, 62%);
}
.showcase a {
  text-decoration: none;
}
.showcase-content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.showcase-content img {
  width: 50%;
}
.showcase-content h1 {
  font-size: 2.5rem;
  line-height: 1.25;
}
.showcase-content p {
  margin: 1.2rem 0;
}

img {
  width: 100%;
}